page-weed-detect {
    .page3{
        position: relative !important;
        height: 65%;
    }
    .page-cart{
        height: 90%;
    }

    
        
        background: rgba(0,0,0,0.5);
        padding-top: 5em;
       
        
        padding-left: 3em;
        padding-right: 3em;
    
  
}
